* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* ----------------header---------------- */
header {
    background-color: #f8f8f8;
}

#title-heading {
    /* color: #143774; */
    color: red;
    font-size: 2.2rem;
    font-family: 'Lora', serif;
    font-weight: 300;
}

#title-subheading {
    color: #1792D2;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 1em 0 0.7em 0;
}

#navbar {
    margin-top: 0.6em;
}

#header-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header-link-items {
    margin: 0.3em 0;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.header-links {
    text-decoration: none;
    color: #707070;
}

#current-page {
    border-bottom: 2px solid #707070;
}

.header-links:hover,
.header-links:focus {
    color: #1792D2;
}

#current-page:hover,
#current-page:focus {
    color: #707070
}

@media (min-width: 375px) and (max-width: 730px) {
    .container {
        padding-left: 1em;
        padding-right: 1em;
    }

    #title-heading {
        font-size: 2.5rem;
    }
}

@media (min-width: 730px) {
    .container {
        flex-direction: row;
        max-width: 900px;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1.5em 1em 2em 1em;
    }

    #header-list {
        flex-direction: row;
    }

    .header-links {
        margin-left: 1em;
        font-size: 1.2rem;
    }
}

/* ----------------articles---------------- */
#main-container {
    margin: 2em auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 2em;
}

#main-article {
    padding-bottom: 2.2em;
    border-bottom: 2px solid #707070;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
}

.article {
    margin: 1em 0;
}

.article-recent {
    display: flex;
    flex-direction: column-reverse;
}

.article-image, .widget-image {
    width: 100%;
}

#main-article-title {
    margin-bottom: 0.4em;
}

.article-title {
    font-size: 1.8rem;
    font-family: 'Lora', serif;
    font-weight: 300;
    color: #143774;
    margin-bottom: 0.2em;
}

.text {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.comments {
    margin: 0.3em 0;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

#main-article-comment {
    margin: 0.5em 0;
}

strong, .article-read-more, #article-main-link {
    color: #143774;
}

#article-main-link, .article-read-more {
    text-decoration: none;
}

#article-main-link:hover,
#article-main-link:focus,
.article-read-more:hover,
.article-read-more:focus {
    text-decoration: underline;
}

.article-read-more {
    display: inline-block;
    margin-top: 0.7em;
}

@media (min-width: 630px) and (max-width: 730px) {
    #main-article-title {
        order: -2;
    }

    #main-article-comment {
        order: -1;
        margin-top: -2.3em;
        text-align: right;
    }

    #main-article-image {
        margin: 1em 0;
    }

    .article-recent-secondary > .comments {
        margin: 0;
        position: relative;
        top: 1.9em;
        text-align: right;
    }
}

@media (min-width: 730px) {
    #main-container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 900px;
    }

    main {
        width: 70%;
    }

    aside {
        width: 25%;
    }

    .article-recent {
        flex-direction: row-reverse;
        padding: 0 1em;
    }

    .article-recent-secondary {
        width: 90%;
        box-sizing: border-box;
        padding-right: 1.5em;
    }

    .article-title {
        margin-top: -0.26em;
    }
}

/* -----------------widgets----------------- */
.widget {
    width: 100%;
    border: 1.4em solid #EBEBEB;
    box-sizing: border-box;
    padding: 1em;
}

.widget-image {
    margin: 1em 0;
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: center;
}

.widget-heading {
    font-size: 2rem;
    font-family: 'Lora', serif;
    font-weight: 500;
    color: #143774;
}

.widget-text {
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

#widget-1 {
    margin-bottom: 2em;
}

.widget-2-image {
    margin-bottom: 0.4em;
}

.widget-2-text {
    font-size: 1.2rem;
    color: #1792D2;
}

.widget-column {
    margin-bottom: 0.3em;
    padding-bottom: 1em;
    border-bottom: 2px solid #707070;
}

.widget-column:last-child {
    padding: 0;
    border: 0;
}

/* ---------------footer--------------- */
footer {
    padding: 2em;
    height: 100px;
    background-color: #143774;
    color: white;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    font-weight: 300;
    text-align: center;
}
